<a href="https://colab.research.google.com/github/asepmuhidin/pbo_upb/blob/main/kisi_kisi_uts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#looping
# Deret bilangan kelipatan 5 dari 5 sd 50
#5,10,15,20, dst
#range(start, end, step)
for i in range(5,51,5):
  print(i, end=",")

5,10,15,20,25,30,35,40,45,50,

In [3]:
#Buatkan program untuk deret bilangan 10,100,1000,10000,100000,1000000
#sama saja dengan 10**1, 10**2,10**3,10**4,10**5,10**6
for i in range(1,7):
  print(10**i, end=",")

10,100,1000,10000,100000,1000000,

In [5]:
##Looping menurun
for i in range(10,-1,-1):
  print(i, end=",")

10,9,8,7,6,5,4,3,2,1,0,

In [8]:
#Membuat sebuah fungsi
#Buat fungsi untuk menghitung luas lingkaran
#Luas_lingkaran=3.14*r**2
import math

def luas_lingkaran(r):
  return math.pi*r**2


jari_lingkaran=10
llingkaran=luas_lingkaran(jari_lingkaran)
print(f"Luas lingkaran dengan jari-jari {jari_lingkaran} adalah {llingkaran}")

Luas lingkaran dengan jari-jari 10 adalah 314.1592653589793

In [9]:
#Buat fungsi untuk cek bilangan positif atau negatif
#Bilangan positif adalah bilangan yg lebih besar dari nol
#Bilangan negatif adalah bilangan yg lebih kecil dari nol

def cek_bil_pos_neg(bil):
  if bil>0 :
    return "Positif"
  elif bil<0:
    return "Negatif"
  else:
    return "Nol"

a,b,c=10,-9,0
print(f"Bilangan({a}) adalah bilangan {cek_bil_pos_neg(a)}")
print(f"Bilangan({b}) adalah bilangan {cek_bil_pos_neg(b)}")
print(f"Bilangan({c}) adalah bilangan {cek_bil_pos_neg(c)}")

Bilangan(10) adalah bilangan Positif
Bilangan(-9) adalah bilangan Negatif
Bilangan(0) adalah bilangan Nol

In [17]:
names=['Hendri','Aditya','Gunawan']
print(names[0])
for no,name in enumerate(names):
  print(f"{no}.{name}")

Hendri
0.Hendri
1.Aditya
2.Gunawan

In [11]:
posts=[
  {
    "userId": 1,
    "id": 1,
    "title": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit",
    "body": "quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto"
  },
  {
    "userId": 1,
    "id": 2,
    "title": "qui est esse",
    "body": "est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla"
  },
  {
    "userId": 1,
    "id": 3,
    "title": "ea molestias quasi exercitationem repellat qui ipsa sit aut",
    "body": "et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut"
  }
]

In [13]:
print(posts[0]['title'])

sunt aut facere repellat provident occaecati excepturi optio reprehenderit

In [20]:
print("Daftar Artikel")
for i,post in enumerate(posts):
  print(f"{i+1}.{post['title']}")

Daftar Artikel
1.sunt aut facere repellat provident occaecati excepturi optio reprehenderit
2.qui est esse
3.ea molestias quasi exercitationem repellat qui ipsa sit aut

In [23]:
nilai_hendri={
    'semester1':[70,80,90,100],
    'semester2':[80,90,90,90]
}

In [24]:
nilai_hendri['semester1'][-1]

100

In [26]:
#Hitung nilai akhir dari nilai hendri
#nilai_akhir =20%*absen+20%*tugas+30%*uts+30%*uas
def na(absen,tugas,uts,uas):
  return (0.2*absen)+(0.2*tugas)+(0.30*uts)+(0.3*uas)

def nilai_akhir(smt1,smt2):
  return (smt1+smt2)/2

na_smt1=na(nilai_hendri['semester1'][0],nilai_hendri['semester1'][1],nilai_hendri['semester1'][2],nilai_hendri['semester1'][3])
na_smt2=na(nilai_hendri['semester2'][0],nilai_hendri['semester1'][1],nilai_hendri['semester1'][2],nilai_hendri['semester1'][3])

na_hendri=nilai_akhir(na_smt1,na_smt2)

print(f"Nilai akhir Semester 1 adalah {na_smt1}")
print(f"Nilai akhir Semester 2 adalah {na_smt2}")
print(f"Nilai akhir Hendri  adalah {na_hendri}")

Nilai akhir Semester 1 adalah 87.0
Nilai akhir Semester 2 adalah 89.0
Nilai akhir Hendri  adalah 88.0